<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/databinding" >data binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="Navigator()">Add Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/employeelist">Employee List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/controlflow">Control Flow Statements</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/templetedriven">Template Driven</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>



  <router-outlet></router-outlet>
</div>